/* Hero */
.hero {
    position: relative;
    margin: 0 -1.5rem;

    @media (min-width: 640px) {
        margin: 0 -5rem;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: var(--gapMedium);

    padding: 7rem 5rem 5rem;
}

.hero__container p {
    color: var(--textColorWhite);
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.hero__container a {
    width: fit-content;
    padding: var(--buttonPadding);

    box-shadow: var(--buttonShadow);
    text-decoration: none;
    color:  var(--textColorWhite);
    background-color: var(--accentColorRed);
    border-radius: var(--buttonCornerRadius);
    transition: background-color 0.5s ease;
}

.hero__container a:hover {
   background-color: var(--hoverColorRed);
}

.hero__heading {
    font-size: clamp(3rem, 5vw, 6rem);
    text-shadow: var(--textShadow);
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    filter: blur(4px);
    object-fit: cover;
}

.all-projects {
    margin: var(--sectionPadding);

    display: flex;
    flex-direction: column;
    gap: var(--gapSmall);
}


/* Dropdown */
.filter-dropdown {
    position: relative;
    padding: var(--buttonPadding);

    display: flex;
    align-items: center;
    gap: var(--gapExtraSmall);

    border-radius: var(--buttonCornerRadius);
    background-color: var(--accentColorGold);
    transition: background-color 0.5s ease;

    @media screen and (max-width: 640px) {
        flex-grow: 1;
    }
}

.filter-dropdown:hover {
    background-color: var(--hoverColorGold);
}

.filter-dropdown label:before {
    content: '';
    inset: 0;
    position: absolute;
}

.filter-dropdown select {
    font-family: var(--montserratFont);
    font-weight: var(--fontWeightRegular);
    font-size: var(--bodyTextSize);

    background-color: unset;
    border: none;
    flex-grow: 1;
}

.filter-dropdown:has(select),
.filter-dropdown:has(select) * {
    cursor: pointer;
}

.matching-slider {
    padding: unset;
}